.pago-container {
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.pago-select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #292929;
  color: #fff;
  width: 100%;
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.pago-mensaje {
  margin-top: 0.8rem;
  padding: 0.8rem;
  background-color: #252525;
  border-radius: 10px;
  color: #eee;
  font-size: 0.9rem;
}
